.header {
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(24px);
    z-index: 10;
    box-shadow: 0 0 12px rgba(29, 29, 29, 0.548);
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
}
.nav-link {
    color: black;
    display: flex;
    padding: 0 20px;
    margin: 8px;
    border-radius: 50px;
    align-items: center;
    height:50px;
    width: auto;
    gap: 0.5rem;
    transition: 400ms;
}
.nav-link:hover {
    transition: 250ms;
    text-decoration:solid;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f5f5f5;
}
.nav-link:active {
    transition: 250ms;
    background-color: rgba(0, 0, 0, 0.7);
}
.menu-toggle {
    position: relative;
    height: auto;
    display: flex;
    font-weight: bold;
    align-items: center;
    background: linear-gradient(to right, rgb(22, 185, 166), rgb(19, 186, 143), rgb(24, 192, 120));
    color: white;
    border-radius: 24px;
    padding: 14px;
    margin: 8px;
    top: 0px;
    left: 0px;
    transition: 400ms;
    border: none;
    gap: 0.5rem;
}
.menu-toggle:hover {
    border: none;
    color: white;
    cursor: pointer;
    transition: 400ms;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
.menu-toggle:active{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 400ms;
}
.image{
    position: relative;
    font-size: medium;
    font-style: oblique;
    margin: 8px;
    border-radius: 50px;
    top: 10px;
    right: 0px;
    width: 40px;
    height: 40px;
}