html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}


.btn-primary {
padding: 20px 40px 20px 40px;
margin-left: 12px;
margin-right: 12px;
margin-top: 20px;
color: white;
background-color: rgb(17, 24, 38);
border-radius: 8px;
transition-duration: 400ms;
}
.btn-primary:hover {
background-color: rgb(42, 53, 77);
color: white;
transition-duration: 400ms;
}.btn-primary:active {
    background-color: rgb(80, 99, 139);
    color: white;
    transition-duration: 400ms;
}

.btn-secondary {
padding: 20px 40px 20px 40px;
margin-left: 12px;
margin-right: 12px;
margin-top: 20px;
color: rgb(17, 24, 38);
border: 2px solid rgb(17, 24, 38);
background-color: transparent;
border-radius: 8px;
transition-duration: 400ms;
}
.btn-secondary:hover{
color: white;
background-color: rgb(17, 24, 38);
transition-duration: 400ms;
}
.btn-secondary:active {
    background-color: rgb(42, 53, 77);
    border:2px solid rgb(42, 53, 77);
    transition-duration: 400ms;
}